name: CI

on:
  push:
    branches:
      - "*"
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "*.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        working-directory: ./src/web
        run: npm i

      - name: Run ESLint
        working-directory: ./src/web
        run: npm run lint

      - name: Run tests
        working-directory: ./src/web
        run: npm test

      - name: Build application
        working-directory: ./src/web
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./src/web/dist
